.searchContainer{
    background:#2d67b2;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.formWrap{
    max-width: 990px;
    width: 100%;
    float: left;
}

.padT15{
    padding-top: 15px;
}
.titleHeader{
    color: #ffffff;
    font-size: 30px;
    font-weight: lighter;
}

.whiteText{
    color: #ffffff;
    margin-right:10px;
}

.inputpadding{
    margin: 10px;
}

.content-leftalign{
    margin: 10px;
    
}

